<div id="page_wrapper">
  <h1>Log in</h1>
  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <%= link_to 'auth/vkontakte' do %>
      <span class="fa-stack fa-lg">
        
        <i class="fa fa-vk fa-stack-1x"></i>
      </span>
    <% end %>
    <p class="buttons"><%= submit_tag "Log in" %></p>
  <% end %>
</div>