<div class="container-fluid well span6">
  <center><h1>My Profile</h1></center>
  <center>
  <div class="row-fluid">
    <div class="span2" >
      <%= image_tag current_user.avatar.url(:avat) , class: "img-circle"%>
    </div>
  </center>
    <center>
      <div class="span8">
          <h3><%= @user.name %> <%= @user.lastname %></h3>
          <h6><i class="glyphicon glyphicon-envelope"></i> <%= current_user.email %></h6>
      </div>
      <button type="buttonss" class="btn btn-primary"><%= link_to 'Edit_user', edit_user_path(@user) %></button> 
    </center>
  </div>
</div>