<div id="header">
  <div class="buttons">
  <% if current_user %>
    <%= image_tag current_user.avatar.url(:avat), class: "img-circle" %>
    Logged in as <%= current_user.email %>.
  <% if current_user.try(:admin?) %>
    <p>Admin</p>
  <% else %>
    <p>User</p>
  <% end %>
  <button class="button"><%= link_to "Log out", log_out_path %></button>
    <% else %>
      <button class="button"><%= link_to "Sign up", sign_up_path %></button> or
      <button class="button"><%= link_to "log in", log_in_path %></button>
    <% end %>
  </div>
</div>