<div id="logo", class: "img-rounded">
  <%= link_to root_path do %>
    <%= image_tag "logo.jpg",  class: "img-circle" %>
  <% end %>
</div>
<ul>
  <li><i class="fa fa-home"></i><%= link_to "Home",  root_path %></li>
  <li><i class="fa fa-plus-circle"></i><%= link_to "New post",  new_post_path %></li>
  <li><i class="fa fa-crosshairs"></i><%= link_to "About", about_path  %></li>
  <li><i class="fa fa-user"></i><%= link_to "My Profile", current_user %></li>
  <% if current_admin %>
    <li><i class="fa fa-plus-circle"></i><%= link_to "Admin",  admin_root_path %></li>
  <% end %>
</ul>
<div class="icons">
  <ul class="social-icons">
     <li><a href="https://www.facebook.com/pedorenko.andriu"><span class="fa fa-facebook"></span></a></li>
     <li><a href="http://vk.com/a.pedorenko"><span class="fa fa-vk"></span></a></li>
     <li><a href="#"><span class="fa fa-instagram"></span></a></li>
     <li><a href="https://plus.google.com/u/0/117005286675324655417"><span class="fa fa-google-plus"></span></a></li>
     <li><a href="https://github.com/development1995"><span class="fa fa-github"></span></a></li>
  </ul>
</div>