<div class="container">
  <b><center>All Posts</center></b>
  <br>
  <% @posts.each do |post| %>
    <h2 class="title"><%= post.title %></h2>
    <p class="date"><%= post.created_at.strftime("%B, %D, %Y") %></p>
    <p><b>Category:</b>
    <% post.categories.each do |category| %>
      <%= category.name %>
    <% end %></p>
    <p class="image"><%= image_tag post.image.url(:thumb), class: "img-rounded" %></p>
    <%= link_to 'Delete', admin_post_path(post),class: " label label-danger", method: :delete, remote: true, data: { confirm: 'Are you sure' } %>        
  <% end %>
</div>
