<div id="post_content">
  <h1 class="title">
    <center><%= @post.title %></center>
  </h1>
  <div class="row">
    <div class="col-md-2">
      <p><center><%= image_tag @post.user.avatar.url(:avat), class: "img-circle" %> </center></p>
      <p><center><%= @post.user.email %></center></p>
    </div>
    <div class="col-md-10">
      <p class="body">
        <p class="date">
          Submitted <%= time_ago_in_words(@post.created_at)%> Ago
          <% if require_user %>
            <%= link_to 'Edit', edit_post_path(@post),class: "label label-warning" %>
            <%= link_to 'Delete', post_path(@post),class: " label label-danger", method: :delete, data: { confirm: 'Are you sure' } %>
          <% end %> 
        </p>
        <%= @post.body %> 
        <p class = "image">
          <%= image_tag @post.image.url(:medium),  class: "img-rounded" %>
        </p>
    </div> 
  </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-5">
        <p>Количество просмотров: <%=  @post.page_views %></p>
      </div>
      <div class="col-md-5">
        <p align="right">
          <i class = "glyphicon glyphicon-star-empty"></i>
          <%= @post.favourite_posts.count %>
        </p>
      </div>
    </div>
  <div id="comments">
    <h2><%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </div>
</div>


