<div class="container">
  <b><center>All Users</center></b>
  <br>
    <table class="table table-bordered">
      <tr>
        <td>№</td>
        <td>User</td>
        <td>Email</td>
        <td>Avatar</td>
        <td>Delete_user</td>
        <td>Make</td>
      </tr>
      <% @users.each do |user| %>
        <tr id = <%= "user_#{user.id}"%>>
          <td><%=user.id%></td>
          <td><%=link_to user.name + " " + user.lastname, user %></td>
          <td><%=user.email%></td>
          <td><%=image_tag user.avatar.url(:avat), class: "img-circle"%></td>
          <td><%= link_to 'Delete', admin_user_path(user),class: " label label-danger", method: :delete, remote: true, data: { confirm: 'Are you sure' } %></td>
          <td>
            <% if user.admin %>
            <%= link_to 'user', change_permission_user_path(user), class: "label label-primary"%>
            <% else %>
            <%= link_to 'admin', change_permission_user_path(user), class: "label label-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
