<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="sidebar">
      <%= render 'shared/sidebar' %>
    </div>
    <div id="main_content">
      <%= render 'shared/header' %>
      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
